.top {
    border-bottom: 1px solid #dbd9d7;

    h1 {
        color: black;
        text-align: left;
        padding-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.01em;
    }

    @media (max-width:575px) {
        max-width: 50%;
    }
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .category-inner {
        max-width: 160px;
        margin-right: 35px;
        margin-bottom: 35px;

        img {
            max-width: 100%;
            border-radius: 100px;
        }

        .text {
            margin-top: 16px;
            text-align: center;


            h1 {
                color: black;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.01em;
            }
        }

        @media (max-width:768px) {
            max-width: 140px;
        }
    }

    @media (max-width:575px) {
        max-width: 60%;
        padding: 0 20px;
    }

    @media (max-width:768px) {
        max-width: 90%;
    }
}