nav {
    position: sticky;
    top: 0;
    z-index: 9;

    ul {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 1100px;
        padding: 16px 0;


        li {
            margin-right: 3px;
        }
    }

    @media (max-width:575px) {
        padding: 0 20px;
    }

    @media (max-width:768px) {
        padding: 0 20px;
    }
}

.innerbreadcrumb{
    width: 1100px;
    padding: 15px 0 0;
    margin: 0 auto;
}
.coffeedata {
    background-color: rgb(31, 57, 51);
    padding: 0;

    .alldiv {
        width: 800px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img {
            max-width: 50%;

            .imgDiv {
                width: 180px;

                img {
                    width: 100%;
                }
            }

            @media (max-width:575px) {
                margin: 0 auto;
            }

            @media (max-width:768px) {
                margin: 0 auto;
            }
        }

        .text {
            text-align: left;
            max-width: 50%;

            h2 {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.385;
                letter-spacing: -0.01em;
                color: white;
            }

            p {
                font-size: 19px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.01em;
                color: #ffffffb3;

                @media (max-width:575px) {
                    padding-bottom: 32px;
                }

                @media (max-width:768px) {
                    padding-bottom: 32px;
                }
            }

            @media (max-width:575px) {
                text-align: center;
                max-width: 72%;
            }

            @media (max-width:768px) {
                text-align: center;
                max-width: 72%;
            }
        }

        @media (max-width:575px) {
            display: block;
        }

        @media (max-width:768px) {
            flex-direction: column;
        }
    }
}

.product-bottom {
    display: flex;
    width: 1100px;
    margin: 0 auto;

    .size-option-left {
        width: 50%;

        .size-options {
            h1 {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: -0.01em;
                color: #000000de;
                padding: 0 0 12px 8px;
            }

            .size-bottom {
                height: 4px;
                width: 420px;
                border-radius: 12px;
                background-color: #d4e9e2;
                margin-bottom: 32px;
            }
        }

        .sizes {
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;

            .cups {
                text-align: center;
                margin: 0 18px;

                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: -0.01em;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: -0.01em;
                }
            }

            @media (max-width:768px) {
                width: 55%;
            }
        }

        .select-store {
            display: flex;
            align-items: center;

            img {
                height: 18px;
                filter: grayscale(0%) brightness(7%);
            }

            p {
                color: #00000094;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.01em;
                margin-left: 10px;
            }
        }

        @media (max-width:575px) {
            padding-left: 100px;
            margin-bottom: 40px;
        }

        @media (max-width:768px) {
            // padding-left: 100px;
            margin: 0 auto;
            width: 70%;
            margin-bottom: 40px;
        }
    }

    .size-option-right {
        .whats-included {
            h1 {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: -0.01em;
                color: #000000de;
                padding: 0 0 12px 8px;
            }

            .size-bottom {
                height: 4px;
                width: 420px;
                border-radius: 12px;
                background-color: #d4e9e2;
                margin-bottom: 32px;
            }
        }

        .right-center {
            select {
                margin-bottom: 20px;
                border: 1px solid rgb(118, 118, 118);
                width: 100%;
                border-radius: 10px;
                font-size: 16px;
                padding: 12px 10px;
                position: relative;

                &:focus {
                    border: 2px solid green;
                }
            }

            .shots {
                border: 1px solid rgb(118, 118, 118);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding: 12px 12px;

                .label {
                    position: absolute;
                    top: -13px;
                    left: 10px;
                    background-color: white;
                    padding: 0 3px;

                    label {
                        color: #00000094;
                        font-size: 12px;
                    }
                }

                .left {
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: -0.01em;
                    }
                }

                .count {
                    display: flex;
                    align-items: center;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        width: 24px;
                        height: 24px;
                        color: green;
                        background-color: transparent;
                        border: none;
                        border: 1px solid green;
                        cursor: pointer;
                        padding-left: 1px;
                    }

                    h2 {
                        padding: 0 8px;
                        font-size: 19px;
                        font-weight: 500;
                    }
                }
            }

            @media (max-width:768px) {
                width: 55%;
            }
        }

        .customize {
            margin-top: 48px;

            button {
                border: none;
                font-size: 19px;
                font-weight: 600;
                line-height: 1.2;
                padding: 18px 24px;
                color: white;
                border-radius: 50px;
                box-shadow: 0 0 6px #0000003d, 0 8px 12px #00000024;
                background-color: #1e3932;
                display: flex;
                align-items: center;
                cursor: pointer;

                img {
                    height: 28px;
                    transform: rotate(90deg);
                    margin-right: 3px;
                    margin-top: -5px;
                }
            }
        }

        @media (max-width:575px) {
            padding-left: 100px;
            margin-bottom: 40px;
            width: 47%;
        }

        @media (max-width:768px) {
            // padding-left: 100px;
            margin: 0 auto;
            margin-bottom: 40px;
            width: 70%;
        }
    }

    @media (max-width:575px) {
        display: block;
    }

    @media (max-width:768px) {
        display: block;
    }
}

.nutrition {

    background-color: #1e3932;

    .item {
        width: 1000px;
        margin: 0 auto;
        margin-bottom: 16px;

        p {
            border: 1px solid #cba258;
            color: #cba258;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
            display: inline-block;
            padding: 0 8px;
            border-radius: 5px;
        }


        @media (max-width:575px) {
            margin: 0 auto;
            width: 70%;
        }
    }

    .center {
        margin-top: 16px;
        padding: 0;
        width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        p {
            color: #ffffffb3;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
        }

        span {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.01em;
            color: white;
            padding: 16px 0 24px 0;
            display: inline-block;
        }

        button {
            background-color: transparent;
            border: none;
            border: 1px solid white;
            padding: 7px 16px;
            color: white;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: -0.01em;
            border-radius: 50px;
            cursor: pointer;
            max-width: 266px;
            transition: ease-in-out .2s;

            &:hover {
                background-color: #0003;
            }
        }

        @media (max-width:575px) {
            margin: 0 auto;
            width: 70%;
        }
    }

}

.order {

    button {
        background-color: #00754a;
        box-shadow: 0 0 6px #0000003d;
        padding: 18px 24px;
        color: white;
        position: fixed;
        bottom: 100px;
        right: 40px;
        border-radius: 50px;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.2;
        z-index: 1;
        border: none;
        cursor: pointer;
    }
}