footer {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
  padding: 24px 40px;
}
footer .footer-top {
  display: flex;
  padding-bottom: 32px;
}
footer .footer-top ul {
  margin-left: 32px;
  max-width: 190px;
}
footer .footer-top ul:first-child {
  margin-left: 0;
}
footer .footer-top ul li {
  padding: 8px 0;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.58);
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}
footer .footer-top ul li:hover {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
footer .footer-top ul li h1 {
  font-size: 19px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  margin-bottom: 16px;
  text-transform: capitalize;
}
@media (max-width: 575px) {
  footer .footer-top {
    display: none;
  }
}
footer .hr {
  color: rgba(0, 0, 0, 0.87);
  max-width: 1269px;
  height: 2px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 32px 0;
}
footer .footer-bottom .ft-bt-top ul {
  display: flex;
  margin-left: -5px;
}
footer .footer-bottom .ft-bt-top ul li {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: all 0.3s;
  border-radius: 50%;
}
footer .footer-bottom .ft-bt-top ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
footer .footer-bottom .ft-bt-top ul li a img {
  height: 32px;
  width: 32px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: white;
}
footer .footer-bottom .ft-bt-center {
  margin: 16px 0 4px 0;
}
footer .footer-bottom .ft-bt-center ul {
  display: flex;
  align-items: center;
}
footer .footer-bottom .ft-bt-center ul li {
  padding-right: 24px;
}
footer .footer-bottom .ft-bt-center ul li a {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: black;
  transition: all 0.3s;
}
footer .footer-bottom .ft-bt-center ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 575px) {
  footer .footer-bottom .ft-bt-center ul {
    display: block;
  }
  footer .footer-bottom .ft-bt-center ul li {
    padding: 0;
  }
  footer .footer-bottom .ft-bt-center ul .stick {
    display: none;
  }
}
footer .footer-bottom .ft-bt-center p {
  padding: 16px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5803921569);
  line-height: 1.5;
  letter-spacing: -0.01em;
}
@media (max-width: 575px) {
  footer {
    padding: 16px 24px;
  }
  footer .footer-media > div {
    margin: 0 !important;
  }
  footer .footer-media .css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root {
    padding: 0;
  }
  footer .footer-media .css-1086bdv-MuiPaper-root-MuiAccordion-root {
    box-shadow: 0 0 0 #fff;
    width: 100%;
  }
  footer .footer-media .css-1086bdv-MuiPaper-root-MuiAccordion-root::before {
    display: none;
  }
  footer .footer-media .css-1086bdv-MuiPaper-root-MuiAccordion-root {
    padding: 0;
  }
  footer .footer-media .css-eqpfi5-MuiAccordionSummary-content {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8705882353);
  }
  footer .footer-media .css-15v22id-MuiAccordionDetails-root li {
    padding: 8px 0;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.58);
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-transform: capitalize;
  }
  footer .footer-media .css-15v22id-MuiAccordionDetails-root li:hover {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
  }
}/*# sourceMappingURL=Footer.css.map */