.center {
    padding: 32px 0 0 0;

    .column-inner {
        display: flex;
        background-color: #bbf2d1;
        justify-content: center;
        margin-bottom: 32px;

        .column-inner-left {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
            }

            @media (max-width: 575px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                width: 100%;
                height: 333px;
            }
        }

        .column-inner-right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            padding: 32px 48px;

            h1 {
                text-align: center;
                color: #1e3932;
                font-size: 24px;
                font-weight: 600 !important;
                margin-bottom: 24px;
            }

            p {
                color: #1e3932;
                font: 400 19px/1.75 "Roboto", sans-serif;
                text-align: center !important;
            }

            .sb-button {
                border: 1px solid #1e3932;
                padding: 7px 16px;
                border-radius: 50px;
                color: #1e3932;
                margin-top: 32px;
                text-align: center;
                font-weight: 600;
                line-height: 1.2;
                font-size: 18px;

                &:hover {
                    background-color: #ABDFC1;
                }
            }

            @media (max-width: 575px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                width: 100%;
            }            
        }

        @media (max-width: 575px) {
           display: block; 
        }

        @media (max-width: 768px) {
            align-items: center;
        }
    }

    .column-inner:nth-child(2){
        flex-direction: row-reverse;
        background-color: #ecaed8;

        h1{
            font-size: 50px;
            letter-spacing: 2px;
            color: #552200;

            @media (max-width: 575px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        p{
            color: #552200;
            font-size: 24px;
            text-align: center;
            font-weight: 400;
        }
    }


    .column-inner:nth-child(3) {
        background-color: #552200;

        h1 {
            color: #fdd8f7;
            font-size: 50px;
            letter-spacing: 2px;

            @media (max-width: 575px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        p {
            color: #fdd8f7;
            font-size: 24px;
        }

        .sb-button {
            color: white;
            border: 1px solid white;
        }
    }

    .column-inner:nth-child(4){
        flex-direction: row-reverse;
        background-color: #efabfc;

        h1{
            font-size: 50px;
            letter-spacing: 2px;
            color: #1e3932;
            font-weight: 600!important;

            @media (max-width: 575px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        p{
            color: #1e3932;
            font-size: 24px;
            text-align: center;
            font-weight: 400;
        }

        .sb-button{
            border: 1px solid #1e3932;
            color: #1e3932;
        }
    }

    .column-inner:nth-child(5){
        background-color: #efabfc;

        h1{
            font-size: 50px;
            letter-spacing: 2px;
            color: #1e3932;
            font-weight: 600!important;
            text-transform: uppercase;

            @media (max-width: 575px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        p{
            color: #1e3932;
            font-size: 24px;
            text-align: center;
            font-weight: 400;
        }

        .sb-button{
            border: 1px solid #1e3932;
            color: #1e3932;
        }
    }

    .column-inner:nth-child(6){
        flex-direction: row-reverse;
        background-color: #efabfc;

        h1{
            font-size: 50px;
            letter-spacing: 2px;
            color: #1e3932;
            font-weight: 600!important;

            @media (max-width: 575px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        p{
            color: #1e3932;
            font-size: 24px;
            text-align: center;
            font-weight: 400;
        }

        .sb-button{
            border: 1px solid #1e3932;
            color: #1e3932;
        }
    }

    .center-footer{
        max-width: 60%;
        margin: 0 auto;
        padding: 0 0 32px 0;
        
        p{
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -.001em;
            line-height: 1.5;

            @media (max-width: 575px) {
                font-size: 13px;
                line-height: 1.8;
            }

            @media (max-width: 768px) {
                font-size: 13px;
                line-height: 1.8;
            }

            a{
                color: black;
                text-transform: lowercase;
                text-decoration: underline;
            }
        }
    }
}