.banner {
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 4px 0 #0000001f, 0 0 2px 0 #0000003d;
    background-color: #1e3932;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;


    h1 {
        color: white;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.5;
        padding-left: 126px;
    }
}

.free-coffee {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(212, 233, 226);
    position: relative;
    height: 759px;
    margin-bottom: 64px;

    .free-coffee-left {
        width: 50%;
        padding: 32px 40px;

        h1 {
            font-size: 36px;
            font-weight: 600;
            line-height: 1.29;
            letter-spacing: -0.01em;
            color: #000000de;
            text-transform: uppercase;
        }

        h4 {
            font-size: 19px;
            font-weight: 400;
            letter-spacing: -0.01em;
            line-height: 1.5;
            padding-top: 16px;
        }

        .free-coffee-left-bottom {
            margin-top: 32px;

            .join {
                color: white;
                width: 35px;
                height: 35px;
                background-color: hsl(158, 100%, 23%);
                border: 1px solid hsl(158, 100%, 23%);
                border-radius: 50px;
                font-weight: 600;
                line-height: 1.2;
                padding: 7px 16px;
                text-align: center;
            }

            p {
                font-size: 19px;
                font-weight: 400;
                letter-spacing: -0.01em;
                line-height: 1.5;
                padding-top: 16px;

                a {
                    text-decoration: underline;
                    color: black;
                }
            }
        }
    }

    .free-coffee-right {
        width: 50%;


        img {
            position: absolute;
            right: -35%;
            top: 0;
            height: 759px;
        }
    }
}

.easy-start {
    padding: 64px 40px;

    .easy-start-top {
        margin: 0 auto;
        text-align: center;

        h2 {
            font-size: 28px;
            font-weight: 600;
            line-height: 1.385;
            letter-spacing: -0.01em;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
            padding-top: 16px;
        }
    }

    .easy-start-bottom {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 48px 68px 0 68px;

        .easy-start-bottom-item {
            width: 335px;

            .img {
                display: flex;
                justify-content: center;
                padding-bottom: 24px;

                img {
                    height: 48px;
                }
            }

            .text {
                text-align: center;

                h3 {
                    font-size: 19px;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: -0.01em;
                }

                p {
                    padding-top: 16px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: -0.01em;

                    a {
                        color: #006241;
                        text-decoration: underline;
                    }
                }
            }

            &:nth-child(2) {
                margin: 0 48px;
            }
        }
    }
}

.stars {
    background-color: #d3e8e154;
    padding-top: 48px;

    .stars-top {
        h2 {
            font-size: 28px;
            font-weight: 600;
            letter-spacing: -0.01em;
            letter-spacing: 1.385;
            text-align: center;
            padding-bottom: 48px;
        }

        ul {
            display: flex;
            justify-content: center;

            li {
                padding: 8px 27px 16px 27px;
                font-size: 28px;
                font-weight: 600;
                letter-spacing: -0.01em;
                letter-spacing: 1.5;
                cursor: pointer;

                &:active {
                    // border-bottom: 4px solid blue;
                }

                span {
                    width: 14px;
                    height: 21px;
                    display: inline-block;
                    color: #cba258;
                }
            }
        }
    }

    .stars-bottom {
        background-color: #d4e9e2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;

        img {
            width: 375px;
            height: 210px;
            margin-right: 48px;
        }

        .text {
            width: 375px;
            height: 124px;
            padding: 0 16px;

            h3 {
                font-size: 24px;
                font-weight: 600;
                letter-spacing: -0.01em;
                line-height: 1.5;
                padding-bottom: 16px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.01em;
                line-height: 1.5;
            }
        }
    }
}

.endless {
    padding: 64px 40px;

    .endless-top {
        text-align: center;
        margin: 0 auto;
        width: 634px;

        h2 {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.01em;
        }

        p {
            padding-top: 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
        }
    }

    .endless-bottom {
        padding: 48px 68px 0 68px;
        display: flex;
        justify-content: space-between;

        .endless-bottom-item {
            width: 345px;
            text-align: center;
        }

        img {
            margin: 0 auto;
            display: flex;
            width: 112px;
            height: 112px;
        }

        h3 {
            font-size: 19px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.01em;
            padding: 24px 0 20px 0;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
            padding-bottom: 16px;
        }

        button {
            border: none;
            background-color: white;
            text-decoration: underline;
            color: #006241;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.cashorcard {
    background-color: #f2f0eb;
    padding: 48px 40px;

    .cashorcard-top {
        margin: 0 auto;
        width: 634px;
        text-align: center;
        padding-bottom: 88px;

        h2 {
            font-size: 28px;
            font-weight: 600;
            line-height: 1.5;
            padding-bottom: 16px;
            letter-spacing: -0.01em;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
        }
    }

    .cashorcard-bottom {
        .dollar-section {
            display: flex;
            padding-bottom: 24px;
            border-bottom: 1px solid #00000020;

            &:last-child {
                border: none;
                padding-bottom: 0;
                padding-top: 48px;
            }

            .dollar {
                p {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: -0.01em;

                    &:last-child {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                }
            }

            .dollar-middle {
                display: flex;
                width: 422px;
                padding: 0 24px;
                margin-left: 40px;

                img {
                    width: 112px;
                    height: 158px;
                }

                .dollar-middle-text {
                    padding-left: 16px;

                    h3 {
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1.5;
                        letter-spacing: -0.01em;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: -0.01em;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

.rewards-coming {
    position: relative;
    padding-bottom: 32px;

    .inner {
        background-color: #d4e9e2;
        height: 558px;
        width: 1285px;
        position: absolute;
        top: 32px;
        left: 32px;
        padding: 0 40px;
        display: flex;
        align-items: center;


        .rstars {
            width: 241px;
            height: 477px;

            img {
                width: 100%;
            }
        }


        .inner-text {
            text-align: center;
            width: 723px;

            .inner-text-top {

                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: -0.01em;
                    padding: 16px 0;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: -0.01em;
                }
            }

            .inner-text-bottom {
                padding: 32px 20px;
                display: flex;

                .inner-text-item {
                    margin: 20px 24px 20px 2px;

                    img {
                        width: 190px;
                        height: 91px;
                        margin: 0 auto;
                        display: flex;
                    }

                    p {
                        padding-top: 24px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: -0.01em;

                        a {
                            text-decoration: underline;
                            color: #006241;

                            &:last-child {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .join-starbucks-rewards {
                background-color: hsl(158, 100%, 23%);
                border-radius: 50px;
                padding: 7px 16px;
                color: white;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: -0.01em;
                line-height: 1.5;
            }
        }

        .lstars {
            width: 241px;
            height: 477px;

            img {
                width: 100%;
            }
        }
    }
}

.questions {
    padding: 64px 40px;

    .questions-text {
        width: 634px;
        margin: 0 auto;

        h2 {
            font-size: 28px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.01em;
            padding-bottom: 16px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;

            a {
                text-decoration: underline;
                color: #006241;
            }
        }
    }
}

.info {
    margin: 32px 0;
    padding: 48px 40px;
    background-color: #f9f9f9;
    p {
        padding-bottom: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.01em;

        a {
            text-decoration: underline;
            color: #006241;

            &:last-child {
                text-decoration: none;
            }
        }
    }
    h3 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.01em;
        line-height: 1.5;
        text-transform: uppercase;
        color: #00000094;
        padding-bottom: 16px;
    }
    .top {
        padding-bottom: 16px;
    }
    .mid {  
        padding-bottom: 32px;
        display: flex;
        .earning{
            width: 634px;
        }
        .termofuse{
            width: 634px;
            padding-left: 32px;
        }
    }
    .bottom{
        display: flex;
        .benefits{
            width: 634px;
        }
        .redeeming{
            width: 634px;
            padding-left: 32px;
        }
    }
}