.banner {
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1215686275), 0 0 2px 0 rgba(0, 0, 0, 0.2392156863);
  background-color: #1e3932;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}
.banner h1 {
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
  padding-left: 126px;
}

.free-coffee {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(212, 233, 226);
  position: relative;
  height: 759px;
  margin-bottom: 64px;
}
.free-coffee .free-coffee-left {
  width: 50%;
  padding: 32px 40px;
}
.free-coffee .free-coffee-left h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.8705882353);
  text-transform: uppercase;
}
.free-coffee .free-coffee-left h4 {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  padding-top: 16px;
}
.free-coffee .free-coffee-left .free-coffee-left-bottom {
  margin-top: 32px;
}
.free-coffee .free-coffee-left .free-coffee-left-bottom .join {
  color: white;
  width: 35px;
  height: 35px;
  background-color: hsl(158, 100%, 23%);
  border: 1px solid hsl(158, 100%, 23%);
  border-radius: 50px;
  font-weight: 600;
  line-height: 1.2;
  padding: 7px 16px;
  text-align: center;
}
.free-coffee .free-coffee-left .free-coffee-left-bottom p {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  padding-top: 16px;
}
.free-coffee .free-coffee-left .free-coffee-left-bottom p a {
  text-decoration: underline;
  color: black;
}
.free-coffee .free-coffee-right {
  width: 50%;
}
.free-coffee .free-coffee-right img {
  position: absolute;
  right: -35%;
  top: 0;
  height: 759px;
}

.easy-start {
  padding: 64px 40px;
}
.easy-start .easy-start-top {
  margin: 0 auto;
  text-align: center;
}
.easy-start .easy-start-top h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.385;
  letter-spacing: -0.01em;
}
.easy-start .easy-start-top p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  padding-top: 16px;
}
.easy-start .easy-start-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 48px 68px 0 68px;
}
.easy-start .easy-start-bottom .easy-start-bottom-item {
  width: 335px;
}
.easy-start .easy-start-bottom .easy-start-bottom-item .img {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
.easy-start .easy-start-bottom .easy-start-bottom-item .img img {
  height: 48px;
}
.easy-start .easy-start-bottom .easy-start-bottom-item .text {
  text-align: center;
}
.easy-start .easy-start-bottom .easy-start-bottom-item .text h3 {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.easy-start .easy-start-bottom .easy-start-bottom-item .text p {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.easy-start .easy-start-bottom .easy-start-bottom-item .text p a {
  color: #006241;
  text-decoration: underline;
}
.easy-start .easy-start-bottom .easy-start-bottom-item:nth-child(2) {
  margin: 0 48px;
}

.stars {
  background-color: rgba(211, 232, 225, 0.3294117647);
  padding-top: 48px;
}
.stars .stars-top h2 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.01em;
  letter-spacing: 1.385;
  text-align: center;
  padding-bottom: 48px;
}
.stars .stars-top ul {
  display: flex;
  justify-content: center;
}
.stars .stars-top ul li {
  padding: 8px 27px 16px 27px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.01em;
  letter-spacing: 1.5;
  cursor: pointer;
}
.stars .stars-top ul li span {
  width: 14px;
  height: 21px;
  display: inline-block;
  color: #cba258;
}
.stars .stars-bottom {
  background-color: #d4e9e2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}
.stars .stars-bottom img {
  width: 375px;
  height: 210px;
  margin-right: 48px;
}
.stars .stars-bottom .text {
  width: 375px;
  height: 124px;
  padding: 0 16px;
}
.stars .stars-bottom .text h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.5;
  padding-bottom: 16px;
}
.stars .stars-bottom .text p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
}/*# sourceMappingURL=Rewards.css.map */