.sign-in {
    width: 500px;
    margin: 0 auto;

    h1 {
        font-size: 28px;
        font-size: 700;
        line-height: 1.5;
        letter-spacing: -0.01em;
        text-align: center;
        margin-bottom: 48px;
    }

    .form {
        box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
        border-radius: 12px;
        padding: 32px;

        p {
            font-size: 16px;
            font-size: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
            padding-bottom: 24px;
        }


        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 100% !important;
        }

        form {
            .error {
                border: 1px solid red;
                border-radius: 5px;
            }

            .error-text {
                color: red;
            }

            #outlined-basic {
                color: aqua;
            }
        }

        .keep {
            .check {
                display: flex;
                align-items: center;

                input[type='checkbox'] {
                    margin-top: -25px;
                    width: 24px;
                    height: 24px;
                }

                p {
                    font-size: 16px;
                    padding-left: 10px;

                    a {
                        color: #006241;
                        font-weight: 700;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .forgot {
                display: flex;
                flex-direction: column;

                a {
                    color: #006241;
                    font-weight: 700;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .sign-button{
            border: none;
            display: flex;
            justify-content: right;
            margin-top: 36px;

            button{
                border: none;
                background-color: #00754a;
                padding: 18px 24px;
                border-radius: 50px;
                box-shadow: 0 0 6px #0000003d;
                color: white;
                font-weight: 700;
                line-height: 1.2;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}